@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,300;1,400&display=swap');

:root{
    --main-color: #AD6F5C;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /* the padding and border are included inside the element’s total width */
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear; /* Apply the transition to any property that changes */
    line-height: 1.5;

}

html{
    font-size: 62.5%; /*  1rem = 10px instead of the default 16px, easier work with rem unit :) */
    overflow-x: hidden; /* anything that goes outside the element’s width (to the left or right) won’t be visible or scrollable. */
    scroll-behavior: smooth; /* Instead of instantly jumping to a target section, the browser will gently scroll to it.*/

}

