@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,300;1,400&display=swap');

:root{
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --primary-color : #252422; 
    --secondary-color: #3f6c6155;
    --lighter-primary-color: #60a39255;
    --button-span-color: #EB5E28;
    --btn-hover: #f18a62;
    --khaki: #a99f9fdc;
    --grey-color: #DAC9B6;
    --brown-sugar-color: #e6b4a5;   /* Dark brown for primary text */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --box-shadow: 0 .5rem 1rem var(--shadow-color);
    --light-color: #fffcf2d3;
    --grey-color: #CCC5B9;
    --dark-brown-color: #403D39;

}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /* the padding and border are included inside the element’s total width */
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear; /* Apply the transition to any property that changes */
    line-height: 1.5;

}

html{
    font-size: 62.5%; /*  1rem = 10px instead of the default 16px, easier work with rem unit :) */
    overflow-x: hidden; /* anything that goes outside the element’s width (to the left or right) won’t be visible or scrollable. */
    scroll-behavior: smooth; /* Instead of instantly jumping to a target section, the browser will gently scroll to it.*/

}

body{
    background: var(--primary-color);
    padding-left: 30rem;

}

section{
    padding: 1rem 10%;
    min-height: 100vh;
}

header{
    position: fixed;
    top:0; left:0;bottom:0;
    background: var(--secondary-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* for Safari */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    min-width: 35rem;   /* width: 30rem */
    text-align: center;

}

header .logo{
    text-transform: uppercase;
    color: var(--light-color);
    font-size: 3rem;
    font-weight: bolder;

}

header .logo span{
    text-transform: uppercase;
    color: var(--button-span-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: var(--grey-color);
    margin: 2rem 0;
}

header .navbar a:hover{
    letter-spacing: .1rem;
    color: var(--btn-hover);
}

header .follow a{
    font-size: 2.5rem;
    color: var(--grey-color);
    margin: 0 .6rem;

}
header .follow a:hover{
    color: var(--primary-color)
}

#menu-bars{
    position: fixed;
    right: 1rem; top: 1rem;
    z-index: 10000;
    background: var(--button-span-color);
    color: var(--light-color);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 3rem;
    padding: 1.5rem;
    display: none;

}



/* custom cursor starts */
.cursor-1{
    position: absolute;
    top:0px; left: 0px;
    height:1rem; width:1rem;
    background: var(--secondary-color);
    /*  Prevent the cursor element from interfering with mouse events 
    (e.g., clicks will go "through" it). This is useful for custom cursors or effect */
    pointer-events: none;
    /* Shifts the element half its width and height left and up,
     effectively centering it exactly on the mouse position when following cursor movement. */
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;

}
.cursor-1.active{
    height: .7rem;
    width: .7rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:0px; left: 0px;
    height:4rem; width:4rem;
    border:.1rem solid var(--secondary-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .1s linear;

}

.cursor-2.active{
    display: none;
}

/* custom cursor ends */

/* home section starts */
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.home .image-wrapper {
    flex: 1 1 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;            /* keeps the wrapper square */
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--secondary-color);     
    overflow: hidden;              /* clips overflow */
}

.home .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 20px 30px -10px rgba(86, 79, 79, 0.3);
    display: block;
}

.home .content{
    flex: 1 1 40rem;
}

.home .content h3{
    font-size: 4rem;
    color: var(--light-color);
}
.home .content h3 span{
    font-size: 4rem;
    color: var(--button-span-color);
    text-transform: uppercase;
}

.home .content .info{

    font-size: 2.5rem;
    color: var(--light-color);
    padding: .5rem 0;
}
.home .content .text{

    font-size: 2.5rem;
    color: var(--khaki);
    padding: 1rem  0 2.5rem 0;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    font-size: 1.8rem;
    background-color: var(--button-span-color);
    color: var(--light-color);
    border-radius: .2rem;
}

.btn:hover{
    background-color: var(--btn-hover);
    letter-spacing: .3rem;
}

/* home section ends */

/* about me section starts */
.heading{
    font-size: 4rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem ;
    color: var(--light-color);
    text-transform: uppercase;
}
.heading span{
    color: var(--button-span-color);
    text-transform: uppercase;

}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .content{
    flex: 1 1 50rem;
}

.about .row-1 .content h3{
    color: var(--khaki);
    font-size: 3rem;
    margin-bottom: 2rem;
}
.about .row-1 .content p{
    color: var(--khaki);
    font-size: 2rem;
    padding: .5rem 0;
}
.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: .5rem 0;
}
.about .row-1 .content .box-container .box{
    flex: 1 1 20rem;
}
.about .row-1 .content .box-container .box span{
    color: var(--button-span-color);
    border-radius: 50rem;
}

/* my skills section  */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .skills img {
    width: 5.4rem;
    height: 5.4rem;
    margin: 1.2rem;
    cursor: pointer;
    filter: 
        brightness(0) 
        sepia(1) 
        hue-rotate(20deg) 
        saturate(5)
        drop-shadow(0 0 10px var(--btn-hover));
    transition:transform 0.3s ease;
  }
  
  .skills img:hover {
    transform: scale(1.1);
  }
  
/* my skills section ends */


/* experience section styles start */
.experience .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.experience .box-container .box{
    position: relative;
    flex: 1 1 33rem;
    border-left: .4rem solid var(--button-span-color);
    padding-left: 2rem;
    padding-right: 2rem;
}

.experience .box-container .box .content{
    background-color: var(--secondary-color);
    border-radius: .5rem;
    padding: 1.5rem;
}

.experience .box-container .box span{
    font-size: 1.5rem;
    color: var(--light-color);
    background-color: var(--button-span-color);
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.experience .box-container .box h3{
    font-size: 2.5rem;
    color: var(--light-color);
    padding: 1.5rem 0 1rem 0;
}

.experience .box-container .box p{
    font-size: 1.8rem;
    color: var(--light-color);
    padding: .5rem 0;
}

a institute:link,
a .institute{
    color: #bc841c; 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

a.institute:hover,
a.institute:focus {
  border-bottom: 1px solid #a06c17; 
}
a.institute:visited {
    color: #8a631b; 
  }


/* experience section styles end */


/* portfolio section styles start */
.portfolio .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.portfolio .box-container .box{
    flex: 1 1 30rem;
    height: 25rem;
    max-width: 380px;
    min-width: 400px;
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    background-color: var(--secondary-color);
    padding: .7rem;
}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    display: block;
    filter: grayscale(100%);
    border-radius: .5rem;
}


.portfolio .box-container .box:hover img{
    height: 75%;
    filter: grayscale(0%);

}
.box .project-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.portfolio .box-container .box h3{
    text-transform: uppercase;
    color: var(--grey-color);
    padding: 1.1rem;
    font-size: 2.2rem;
}

  
.portfolio .box-container .box .icons a{
    height: 4rem; width: 4rem;
    border-radius: .5rem;
    font-size: 2.2rem;
    line-height: 4rem;
    color: var(--light-color);
    text-align: center;
}

.portfolio .box-container .box .icons a:hover{
    color: var(--button-span-color)
}

/* portfolio section styles end */


/* contact section styles start */
.contact .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:  1.5rem;
    padding-bottom: 2rem;
}

.contact .icons{
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: .5rem;

}
.contact .icons-container .icons i{
    height: 5rem; width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background-color: var(--button-span-color);
    color: var(--light-color);
    border-radius: 50%;

}
.contact .icons-container .icons h3{
    color: var(--light-color);
    font-size: 2rem;
    padding: .6rem 0;
}
.contact .icons-container .icons p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: .6rem 0;
}

.contact .row{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.contact .row form{
    flex: 1 1 55rem;
    background-color: var(--secondary-color);
    padding: 1rem 2rem;
    border-radius: .5rem;
}
.contact .row .map{
    flex: 1 1 25rem;
    /* border: 1rem solid var(--grey-color); */
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .1rem solid var(--secondary-color);
    color: var(--very-dark-brown);
    text-transform: none;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin: 1rem 0;
    padding-left: 1.5rem;

}


.contact .row form .box:focus,
.contact .row form textarea:focus{
    background-color: var(--lighter-primary-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
    padding-left: 1rem;
}
.contact form input{
    background: var(--secondary-color);
    border-radius: .5rem;

}

.contact .row form textarea{
    height: 20rem;
    resize: none;
    background-color: var(--secondary-color);
    border-radius: .5rem;
}
.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
    background-color: var(--button-span-color);
}
/* contact section styles ends */


footer{
    margin-top: 2rem;
    font-size: 1.4rem;
    padding: 1.5rem;
    text-align: center;
    color: var(--grey-color);
}

footer span{
    color: var(--brown-sugar-color);
}

.email{
    text-transform: lowercase;
}









@media (max-width: 991px){

    html{
        font-size: 55%; 
    }
    body{
        padding: 0;
    }
    #menu-bars{
        display: initial; /* its default display mode*/
    }
    header{
        left: -120%;
    }
    header.active{
        left: 0;
    }
    .cursor-1,
    .cursor-2{
        display: none;
    }
}


@media (max-width:450px){
    html{
        font-size: 45%; 
    }
    header{
        width:100%;
    }
    .experience .box-container .box{
        padding-left: 0;
    }


}


@media (max-width:520px){
    .home .image-wrapper {
        max-width: 35rem; 
    }
}


@media (max-width:470px){
    .home .image-wrapper {
        display: none; 
    }
}

/* Disable hover effects and filter on devices that don't support hover */
@media (hover: none) and (pointer: coarse) {
 
    .skills img:hover {
      transform: none;
    }
    .portfolio .box-container .box img{
        height: 75%;
        filter: grayscale(0%);
    
    }

}


